<section class="section">

  <div class="container hero-container">
    <h1 class="hero-title">Welcome to our
      <span class="hero-title-accent">collection</span>
      of premium watches
    </h1>
    <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
      lifestyle. From classic
      designs to
      modern ones, we have a watch to suit every taste and occasion.</p>
    <div class="hero-wrapper">
      <ul class="hero-list">
        <li class="hero-item"><img class="hero-icon" src="/img/user-1.jpg" alt="Victoria Romashenko"></li>
        <li class="hero-item"><img class="hero-icon" src="/img/user-2.jpg" alt="John Wax"></li>
        <li class="hero-item"><img class="hero-icon" src="/img/user-3.jpg" alt="Anastasia Trachuk"></li>
      </ul>
      <a class="hero-link" href="#">Scroll down</a>
    </div>
    <img class="hero-img" src="/img/main-mob.jpg" alt="close">
  </div>
</section>