<section class="section">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <ul class="sale-list">
      <li class="sale-item">
        <img class="sale-item-image" src="/img/sale-front-mob.png" alt="Watch">
      </li>
      <li class="sale-item">
        <img class="sale-item-image" src="/img/sale-back-mob.png" alt="Watch">
      </li>
      <li class="sale-item">
        <img class="sale-item-image" src="/img/sale-left-mob.png" alt="Watch">
      </li>
      <li class="sale-item">
        <img class="sale-item-image" src="/img/sale-right-mob.png" alt="Watch">
      </li>
    </ul>
    <div class="sale-image-wrapper">
      <img class="sale-image" src="/img/sale-mob.png" alt="Watch">
    </div>
    <div class="sale-wrapper">
      <h3 class="sale-subtitle">MARQ&reg; Commander (Gen 2) - Carbon Edition</h3>
      <p class="sale-text-tag">Product tag: 706587</p>
      <span class="sale-price">€1500</span>
      <span class="sale-text-price">€3000</span>
      <p class="sale-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers
        that takes materials
        and
        features
        to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a
        precise
        AMOLED
        touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sale-list-watch">
        <li class="sale-item-watch">Fused carbon fiber </li>
        <li class="sale-item-watch">Grade-5 Titanuim</li>
        <li class="sale-item-watch">Athlete</li>
        <li class="sale-item-watch">Golfer</li>
        <li class="sale-item-watch">Commander</li>
        <li class="sale-item-watch">Adventurer</li>
      </ul>
    </div>
  </div>

</section>